.slds-modal__footer, .slds-modal__header{
    margin-left: -30px !important;
    margin-right: -30px !important;
}
.content-body{
    min-height: 21rem;
    max-height: 21rem;
}
.content-body-empty{
    min-height: 26rem;
    max-height: 26rem;
}