<template >
    <lightning-layout horizontal-align="center" vertical-align="center" multiple-rows="true">
        <lightning-layout-item size="12">
            <header class="slds-modal__header">
                <h2 id="modal-heading-01" class="slds-text-heading_medium slds-hyphenate">{label.offerTrialHeaderLabel}</h2>
            </header>
        </lightning-layout-item>

        <template if:true={error}>
            <lightning-layout-item size="12" class="slds-p-around_small content-body slds-align_absolute-center content-body-empty">
                <p><lightning-formatted-text value={error}></lightning-formatted-text></p>
            </lightning-layout-item>  
        </template>

        <template if:false={error}>
            <lightning-layout-item size="12" class="slds-p-around_small">
                <lightning-input 
                    type="number" 
                    name="duration" 
                    label={label.durationLabel} 
                    value={durationDays} 
                    onchange={validateDuration} 
                    message-when-range-overflow="Maximum duration is 30 days." 
                    min="1"
                    max="30" 
                    message-when-range-underflow="Minimum duration is 1 day.">
                </lightning-input>
            </lightning-layout-item>

            <lightning-layout-item size="12" class="slds-modal__content slds-p-around_small content-body slds-scrollable">
                <table class="slds-table slds-table_cell-buffer slds-table_bordered">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th class="" scope="col">
                                <div class="slds-truncate" title={label.offerTrialLabel}>{label.offerTrialLabel}</div>
                            </th>
                            <th class="" scope="col">
                                <div class="slds-truncate" title={label.productNameLabel}>{label.productNameLabel}</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={oppProducts} for:item='oppProduct'>
                            <tr class="slds-hint-parent" key={oppProduct.Id}>
                                <td data-label={label.offerTrialLabel} key={oppProduct.Id}>
                                    <div class="slds-truncate">
                                        <lightning-input type="checkbox" variant="label-hidden" id={oppProduct.Id} onchange={handleRowSelection}></lightning-input>
                                    </div>
                                </td>
                                <td data-label={label.productNameLabel} key={oppProduct.Id}>
                                    <div class="slds-truncate" title={oppProduct.Name}>{oppProduct.Name}</div>
                                </td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </lightning-layout-item>
        </template>

        <lightning-layout-item size="12">
            <footer class="slds-modal__footer">
                <lightning-button variant="neutral" label={label.cancelLabel} title={label.cancelLabel} onclick={handleCancel} class="slds-m-left_x-small"></lightning-button>
                <template  if:false={error}>
                    <lightning-button variant="brand" label={label.saveLabel} disabled={saveDisabled} title={label.saveLabel} onclick={handleSave} class="slds-m-left_x-small"></lightning-button>
                </template>
            </footer>
        </lightning-layout-item>
    </lightning-layout>
</template>